<div id="jumboHold">
    <div class="jumbotron">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <h2>Practicing Interviewing &amp; Get Feedback Today!</h2>
        <p><a id="banneCTA" class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a></p>
    </div>
</div>

<div id="home_container">

    <h1>Companies Helping YOU Interview!</h1>
    
    <div class="row company_holders">
    
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 comp_logo_box">
            <img class="img-responsive company_logos" src="/images/emerge.png" />
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 comp_logo_box">
            <img class="img-responsive company_logos idiot" src="/images/visa.png" />
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 comp_logo_box">
            <img class="img-responsive company_logos" src="/images/ironhack.png" />
        </div>
    
    </div>
    
    <div class="row company_holders">
        
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 comp_logo_box">
            <img class="img-responsive company_logos idiot2" src="/images/facebook.png" />
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 comp_logo_box">
            <img class="img-responsive company_logos" src="/images/microsoft.png" />
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 comp_logo_box">
            <img class="img-responsive company_logos idiot2" src="/images/kairos.png" />
        </div>
        
    </div>
    
    <h2>And more!</h2>
    
</div>

<div id="testimonials">
    
    <h2>Testimonials</h2>

    <div class="row testimonialsRow">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img class="img-responsive img-circle" src="/images/woman.jpg" />
            <p class="testimonialsText"><b>User's Name</b><br/>Blah blah blahhhh</p>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img class="img-responsive img-circle" src="/images/woman.jpg" />
            <p class="testimonialsText"><b>User's Name</b><br/>Blah blah blahhhh</p>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img class="img-responsive img-circle" src="/images/woman.jpg" />
            <p class="testimonialsText"><b>User's Name</b><br/>Blah blah blahhhh</p>
        </div>
    </div>
    
</div>