<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        
        <!-- Bootstrap & Normalize CSS  -->
        <link media="all" type="text/css" rel="stylesheet" href="/css/normalize.css">
        <link media="all" type="text/css" rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
        
        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300,400italic' rel='stylesheet' type='text/css'>
        
        <!-- Main CSS -->
        <link rel='stylesheet' href='/stylesheets/style.css' />
        
        <!-- favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    </head>
<body>
    {{{body}}}
    
    
    <!-- --------------------------------------------------- -->
    <!-- jQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/color/jquery.color-2.1.2.js"></script>
    
    <!-- Bootstrap -->
    <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js"></script>

    <!-- Main JS -->
    <script type="text/javascript" src="/javascripts/main.js"></script>
</body>
    
</html>
