<div class="pageTitle">
    
    <h1>Login into QME!</h1>

</div>

<div id="signup_container">
    
    <h2>Use your LinkedIn Profile to start getting Q'd!</h2>
    
    <div id="signUpBox">
        <a href="#" ><button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp; Login via LinkedIn</button></a>
    </div>
    
    <small>Don't have a QME account? <a href="/signup">Sign Up!</a></small>
    
</div>
