<script src="https://cdn.WebRTC-Experiment.com/RecordRTC.js"></script>
<script>


    $(document).ready(function () {
        var recorder;
        var mediaConstraints = { video: true, audio: true };
        var recordBtn = $('#record-button');
        var isRecording = false;
        var video = $('#recording-video');
        var theStream;
        var status = $('#status-text');
        var $questions = $('#questions li');
        var $currentQuestion = $('#interview-question');
        var $nextQbtn = $('#next-question-button');
        $nextQbtn.hide();
        $nextQbtn.click(function (e) {
            nextQuestion();
        });
        var $curQuestionNum = $('#current-question-index');
        var $totalQuestions = $('#questions-total');

        var qIndex = 0;

        var curQid = $($questions[qIndex]).attr('id');

        $curQuestionNum.text(qIndex + 1);
        $totalQuestions.text($questions.length);

        $currentQuestion.text($($questions[0]).text());


        var successFn = function(stream) {
            console.log('stream is ready');
            theStream = stream;
            recordBtn.addClass('btn-success');

//            video.attr('src', URL.createObjectURL(stream));

            var options = {
                mimeType: 'video/webm'
            };

            recorder = RecordRTC(stream, options);
        };
        var errorFn = function(err) {
            console.log("ERROR capturing video");
            console.log(err);
        };
        navigator.getUserMedia = ( navigator.getUserMedia ||
                                    navigator.webkitGetUserMedia ||
                                    navigator.mozGetUserMedia ||
                                    navigator.msGetUserMedia);

        navigator.getUserMedia(mediaConstraints, successFn, errorFn);


        recordBtn.click(function (e) {
            if(!isRecording) {
                isRecording = true;
                console.log("Starting recording");
                recordBtn.removeClass('btn-success').addClass('btn-danger');
                recordBtn.text("Stop");

                recorder.startRecording();

                video.attr('src', URL.createObjectURL(theStream));
                video.attr('muted', 'true');


            }
            else {
                isRecording = false;
                console.log("Stopping recording");

                recordBtn.removeClass('btn-danger').addClass('btn-success');
                recordBtn.text("Start");

                recorder.stopRecording(function(avURL) {
                    console.log("URL: " + avURL);

                    status.text("Saving...");

                    video.attr('src', avURL);

                    var recordedBlob = recorder.getBlob();
                    console.log(recordedBlob);
                    recorder.getDataURL(function (dataURL) {
                        console.log("Gonna save the video now..right?");
                        var vidData = {
                            blob: recordedBlob,
                            dataURL: dataURL
                        };
                        saveVideo(vidData);
                    });



                    video.onended = function() {
                        video.pause();

                        // dirty workaround for: "firefox seems unable to playback"
                        video.attr('src', URL.createObjectURL(recorder.getBlob()));
                    };

                });
            }

        });

        function saveVideo(vidData) {
            var filename = 'YUUU_i1_q1';
            var files = {};

            files.question = {
                id: curQid.split('-')[1]
            };

            files.video = {
                name: filename + '.' + vidData.blob.type.split('/')[1],
                type: vidData.blob.type,
                contents: vidData.dataURL
            };

            var request = new XMLHttpRequest();
            request.onreadystatechange = function() {
                console.log("Request status: " + request.status);
                if (request.readyState == 4 && request.status == 200) {
                    console.log("Request came back successful?");
                    $nextQbtn.show();
                    recordBtn.hide();
                }
            };

            request.upload.onprogress = function(e) {
                status.text(Math.round(e.loaded / e.total * 100) + "%");

            };

            request.upload.onload = function() {

            };

            request.open('POST', '/recordings/save');
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

            request.send(JSON.stringify(files));


        }

        function nextQuestion() {
            console.log("Proceeding to next question");
            $nextQbtn.hide();
            qIndex++;
            if(qIndex < $questions.length)
            {
                recordBtn.show();
                $curQuestionNum.text(qIndex + 1);
                curQid = $($questions[qIndex]).attr('id');
                $currentQuestion.text($($questions[qIndex]).text());
            }
            else
            {
                finish();
            }

        }

        function finish() {
            console.log("DONE!");
            window.location = "/";


        }

    });


</script>

<ul id="questions" style="display: none;">
    {{#each questions}}
        <li id="question-{{this.id}}">{{this.text}}</li>
    {{/each}}
</ul>

<div class="interview-info">
    <h1>{{ title }}</h1>
    <div class="questions-counter">
        Question <span id="current-question-index">1</span> of <span id="questions-total">3</span>
    </div>
</div>

<div class="interview-question" align="center">
    <h1 id="interview-question"></h1>
</div>

<div align="center">
    <video id="recording-video" width="640" height="480" controls>

    </video>
    <br>
    <button class="btn-lg" id="record-button">Start</button>
    <button class="btn-lg" id="next-question-button">Next Question</button>
    <div id="recording-status">
        <h1 id="status-text">Status</h1>
    </div>
</div>