<script src="https://cdn.WebRTC-Experiment.com/RecordRTC.js"></script>
<script>


    var mediaConstraints = { video: true, audio: true };
    var successFn = function(stream) {
        console.log(stream);
    };
    var errorFn = function(err) {
        console.log(err);
    };
    navigator.getUserMedia = ( navigator.getUserMedia ||
                                navigator.webkitGetUserMedia ||
                                navigator.mozGetUserMedia ||
                                navigator.msGetUserMedia);

    navigator.getUserMedia(mediaConstraints, successFn, errorFn);


</script>

<p align="center">
    Hello?
</p>