<div class="pageTitle">
    
    <h1>Sign Up for QME!</h1>

</div>

<div id="signup_container">
    
    <h2>Use your LinkedIn Profile to start getting Q'd!</h2>
    
    <div id="signUpBox">
        <button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp; Sign up via LinkedIn</button>
        
        <br/>
        <br/>
        <br/>
        
        <a href="https://www.linkedin.com/start/join?trk=uno-reg-guest-home-join" rel="noopener"><button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> &nbsp; Create a LinkedIn Profile</button></a>
    </div>
    
    <small>Already have a QME account? <a href="/login">Login</a></small>
    
</div>
