<div class="pageTitle">
    
    <h1>Sponsor an Interview on QME!</h1>

</div>

<div id="signup_container">
    
    <h3 id="visapaytagline">Paying for a sponsorship allows your comapny interview questions to be seen first by all QME users.</h3>
    
    <br/>
    
    <div id="formBox">
        
        <form>
            
          <h3><b>Price:</b> $20.00</h3>

                    <input id="cardNumber" type="number" placeholder="Credit Card Number" Value="4895142232120006" required />
            

            <br/><br/>

            <h3>Pay us with Visa direct!</h3> 
        
        </form>
        
        
        <button id="payNowBtn" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> &nbsp; Pay Now</button>
    </div>
    
    <div id="statusBar" class="hidden">
        <h4>Success</h4>
    </div>
    
</div>


<script>
    
    payNowBtn.addEventListener('click', function(){
        
        fetch("/visa", {
            method: 'post',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify({
                accountNumber: cardNumber.value,
                expires: '2015-10'
            })
        }).then(function(res) {
            if(res.status === 200) {
                // make it green
                $('#statusBar').addClass('success').removeClass("hidden").delay(1000).queue(function(){
                    $(this).removeClass("success").addClass('hidden').dequeue();
                });
                //alert();
            } else {
                // make it red
                 $('#statusBar').addClass('error').removeClass("hidden").delay(1000).queue(function(){
                    $(this).removeClass("error").addClass('hidden').dequeue();
                });
            }
        });
                             
    });
</script>