body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a {
    color: #20baed;
}

.jumbotron {
    background-image: url(../images/banner_image.jpg);
    background-position: 10% 25%;
    background-repeat: no-repeat;
    background-size: 100% auto;    
    text-align: center;
    margin: 0;
    border: 5px solid white;
}

.navbar {
    background: #20baed;
    margin: 0;
    border-radius: 0;
    border: none;
    
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 8%, rgba(32,186,237,1) 66%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 8%,rgba(32,186,237,1) 66%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,1) 8%,rgba(32,186,237,1) 66%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-bottom: 2px solid #fff;
    font-size: 120%;
    
    background: #264368;
}

.navbar li a, 
.navbar-brand {
    color: white !important;
}

.navbar li {
    margin: 15px auto;
}

.navbar li:hover {
    background: #56c3bc;
}

.navbar-brand {
    font-weight: 900;
}

.jumbotron h2 {
    text-align: center;
    color: white;
    width: 50%;
    margin: 10px auto 10px auto;
    background: #ffcd33;
    padding: 1% 2%;
}

.btn-primary {
    background: #46cec3 !important;
    border-color: #264368;
    padding: 8px 28px !important;
}

#home_container {
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    color: #46cec3;
}

#home_container h1 {
    font-weight: 900;
}

.company_holders {
    display: table;
    width: 80%;
    margin: 40px auto;
}

.comp_logo_box {
    margin: 10px auto;
}

.company_logos {
    width: 40%;
    margin: 0 auto;
}

.idiot {
    padding-top: 20px;
}

.idiot2 {
    padding-top: 40px;
}


#jumboHold {
    background: #20baed;
    padding: 40px;
}

#testimonials {
    padding: 30px;
    text-align: center !important;
    background: #f4f4f4;
}

#testimonials img {
    width: 50%;
    margin: 0 auto 15px auto;
    border: 2px solid #ffcd33;
}

.testimonialsRow {
    width: 80%;
    margin: 0 auto;
}

#testimonials h2 {
    margin-bottom: 20px;
    font-weight: 900;
    color: #264368;
}

#testimonials p b {
    color: #2ebcb4;
}

footer {
    background: #264368;
    color: white;
    text-align: center;
    margin: 0;
    padding: 50px 30px;
    border-top: 2px solid white;
}

#navLogo {
    width: 25%;
    margin: 5px;
}

#footerLogo {
    width: 40%;
    margin: 0 auto;
}

#copyright {
    font-size: 70%;
    margin: 50px auto 0 auto;
    letter-spacing: 0.1em;
}

#footerNav, #socialMedia {
    padding: 50px 0 0 0;
    text-align: center;
}

#footerNav .navbar-nav {
    margin-left: 60px;
}

.pageTitle {
    background: #20baed;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px 0;
    border-bottom: 5px solid #ffcd33;
    width: 96%;
    margin: 2%;
}

.pageTitle h1 {
    margin: 0 20px;
    padding: 20px;
    font-size: 280%;
    text-align: center;
}

#signup_container {
    width: 100%;
    padding: 100px 100px;
    text-align: center;
    background: #f4f4f4;
    width: 60%;
    margin: 0 auto 25px auto;
}

#signUpBox {
    margin: 20px auto;
    width: 60%;
    border: 6px solid #264368; 
    padding: 12% 5%;
    background: #264368;
}

/* RECORDER STYLES */
.interview-info
{
    margin-left: 20px;
}

.interview-info h1
{
    color: #ffcd33;

}
.interview-question
{
    color: #0000cc;
    margin: 30px auto;
}

